.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
.venv-macos-build/

build/
dist/
release/

test*
!tests/
!tests/**
tests/__pycache__/
tests/**/*.pyc
tests
metatube
.local-notes/
emby-plugin/**/bin/
emby-plugin/**/obj/

.runtime

*.spec

PROJECT_CONTEXT.md
